@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
}

body{
  min-height:100vh;
}

.nav{
    background-color: black;
    color: white;
    padding: 20px 80px;
    transition: .4s ease-in-out;
}

.nav,.nav-links,.logo{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav-links *{
    margin: 0 10px;
}

.logo-text{
    font-size: 34px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
  display:none;
}

.logo-img{
    height: 55px;
/*   margin: -30px -20px; */
}

.nav a{
    color: white;
    text-decoration: none;
}

.kalvi-logo{
    height: 34px;
}

.active{
    height: auto;
}

.active .nav, .active .nav-links{
    flex-direction: column;
}

.active .nav-links,.active.nav .kalvi-logo{
    display: block;
}

.hemb{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 20px;
}

.hemb div{
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
}

#hero{
    background: url("./assets/hero-bg.jpg") center;
    background-size: cover;
    color: white;
    padding: 50px  100px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.24);
    background-blend-mode:multiply;
      transition: .5s ease-in;
    position: relative;
    top:0;
}

.hero-text{
    margin: -10px;
}

#main{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    align-content: center;
    justify-content: space-between;
}

#main a{
    line-height: 32px;
font-size: 22px;
    color: black;
    text-decoration: none;
}

.main-item{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main-1,.main-2{
    border-right: 1px solid black;
    padding-right: 60px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}

.store-list,.store-content{
  min-height: 68vh;
  padding: 20px 0;
}

.mwl{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    background-color: rgb(14, 14, 14);
    color:white;
  }
  
  .mwl span{
    color:red;
  }

  .mwl pre{
    color: #ef3837;
  }

  a{
    padding: 3px 20px;
    transition: .2s ease-in ;
  }

  a:hover{
    color: #ef3837 !important;
    background-color: #ff31311c;
    border-radius: 10px;
  }

  @media screen and (max-width:1024px) {
    .nav{
        padding: 20px 40px;
    }

    .logo-text{
        font-size: 28px;
    }
    
    .logo-img{
        height: 48px;
    }
    
    .kalvi-logo{
        height: 28px;
    }

    .nav-links{
        font-size: 14px;
    }

    #main a{
    font-size: 20px;
    }

    .main-1,.main-2{
        border-right: 1px solid black;
        padding-right: 25px;
    }
  }

  @media screen and (max-width:768px){
    .nav{
        padding: 20px;
    }

    .logo-text{
        font-size: 22px;
    }
    
    .logo-img{
        height: 38px;
    }
    
    .kalvi-logo{
        height: 20px;
    }

    .nav-links{
        font-size: 12px;
    }

    .hero-text{
        font-size: 32px;
    }

    #main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 40px;
        gap:20px;
    }
    
    #main a{
    font-size: 16px;
    }

    .main-1,.main-2{
        border-right: none;
        padding-right: 0;
    }
  }

  @media screen and (max-width:480px){
    .nav-links,.nav .kalvi-logo{
        display: none;
    }

    .hemb{
        display: flex;
    }

    #hero{
        padding:30px 50px;
    }

    .hero-text{
        font-size: 28px;
    }

    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main a{
    font-size: 16px;
    }
  }

  @media screen and (max-width:330px){
    footer{
        flex-direction: column;
    }
  }




/*Menu styling*/

/* .menu{
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: column;
} */


.menu img{
/*   max-width: 95%; */
  padding:10px 0;
  max-height: 100vh;
  max-width: 100%
}

.store-content{
  padding: 20px 10px;

}

/* location template styling  */

.stores{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    align-content: center;
    justify-content: space-between;
}
.stores a{
    line-height: 32px;
font-size: 22px;
    color: black;
    text-decoration: none;
}

.
